$ff-montserrat: 'Montserrat', sans-serif;
$hover-color: #ff6b08;
$nav-color: #b9b9b9;
$general-color: #18191d;
$secondary-color: #858585;
$title-color: #111517;
$white-color: #fff;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$shadow: 4px 7px 24px 8px rgba(29, 29, 27, 0.11);
