.gurantee {
  padding-top: 35px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 46px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 86px;
  }
}

.title {
  font-family: $ff-montserrat;
  font-size: 20px;
  font-weight: 800;
  line-height: 62px;
  text-align: center;
  color: $title-color;
  margin: 0 0 18px 0;
  letter-spacing: 1.5px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
    line-height: 62px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 42px;
    margin: 0 0 30px 0;
  }
}

.bg__list {
  background-color: #f1f1f1;
  width: 100%;
  height: 420px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 688px;
    height: 270px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 1210px;
    height: 390px;
    margin: 0 auto;
  }
}

.list {
  position: relative;

  &__line {
    border-left: 1px rgb(186, 186, 186) dotted;
    height: 280px;
    position: absolute;
    left: 11px;
    top: 35px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 180px;
      top: 40px;
    }

    @media screen and (min-width: 1280px) {
      height: 230px;
      left: 115px;
      top: 60px;
    }
  }

  &__info {
    position: absolute;
    z-index: 1;
    width: 280px;
    margin-top: 5px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 580px;
      margin-top: 16px;
    }
    @media screen and (min-width: 1280px) {
      width: 975px;
      margin-left: 100px;
      margin-top: 30px;
    }
  }

  &__cards {
    padding-top: 20px;
    display: flex;
  }
  &__icon {
    fill: $hover-color;
    width: 13px;
    height: 18px;
    margin-right: 24px;
    margin-left: 5px;
    min-width: 13px;
    min-height: 18px;

    @media screen and (min-width: 1280px) {
      width: 20px;
      height: 27px;
      min-width: 20px;
      min-height: 27px;
    }
  }

  &__text {
    font-family: $ff-montserrat;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;

    @media screen and (min-width: 1280px) {
      font-size: 18px;
      line-height: 29px;
    }
  }
}

.span__color {
  color: $hover-color;
}
