
.hwd{
    margin-top: 320px;
}

.hwd-title {
    text-align: center;
}

.hwd-list {
    list-style: none;
    margin-top: 40px;
    font-size: 0;
    padding: 0;
}


.hwd-list_card {
    // padding: 30px 35px 50px 35px;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 15px;
    // width: 280px;
    height: 270px;
    background-color: $white-color;
    box-shadow: $shadow;
    transition: all .25s;
}

.hwd-list_card-icon {
    height: 50px;
    width: 50px;
    background-color: none;
    fill: #ff6b08;
    display: block;
    margin: 0 auto;
    transition: 0.25s;
}

.hwd-list_title {
    font-size: 13px;
    font-weight: bold;
    color: $title-color;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
}

.hwd-list_title::after {
    content: '';
    height: 2px;
    width: 25px;
    background-color: #ff6b08;
    display: table;
    margin: 25px auto 20px auto;
}

.hwd-list_sub-title {
    font-size: 11px;
    text-align: center;
    color: #858585;
    line-height: 20px;
}

.hwd-list_card:hover {

    background-color: $hover-color;

    .hwd-list_title {
        color: $white-color;
    }
    
    .hwd-list_title::after {
        background-color: $white-color;
    }
    
    .hwd-list_card-icon{
        fill: $white-color;
        background-color: $hover-color;
    }

    .hwd-list_sub-title{
        color: $white-color;
    }
}