.nav-home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
  
}

.nav-site__link {
    display: inline-block;
    color: $nav-color;
    font-family: "Tahoma";
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.45px;

    transition: color $animation;

    &:focus,
    &:hover {
        color: $hover-color;
    }
}

.callback-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $hover-color;
    font-family: $ff-montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    border: 2px solid $hover-color;
    width: 300px;
    min-height: 68px;
    border-radius: 1px;

    transition: all $animation;

    &:focus,
    &:hover {
        background-color: $hover-color;
        color: $white-color;
        box-shadow: $shadow;
    }
}

@media screen and (max-width: 767px) {
    .header {
        min-height: 110px;
        padding-top: 34px;
    }
    .nav-site__link {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
    }
    .callback-button {
        margin-top: 46px;
        width: 251px;
        min-height: 58px;
    }

    .callback-button__tab {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        padding-top: 38px;
        min-height: 145px;
    }
    .nav-site {
        padding-top: 174px;
        min-height: 600px;

    }
    .nav-site__link {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 26px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
    }
    .callback-button__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $hover-color;
        font-family: $ff-montserrat;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0.45px;
        border: 2px solid $hover-color;
        width: 251px;
        min-height: 58px;
        border-radius: 1px;

        margin-left: auto;

        transition: all $animation;

        &:focus,
        &:hover {
            background-color: $hover-color;
            color: $white-color;
            box-shadow: $shadow;
        }


    }

    .d-none__tab {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding-top: 36px;
        min-height: 147px;
    }
    .nav-site__container {
        display: flex;
        align-items: center;


        animation-name: zoomIn;
        animation-duration: 400ms;
       animation-delay: 400ms;
         animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       animation-fill-mode: backwards;
    }
    .callback-button__tab {
        display: none;
    }
    .nav-site__link {
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 22px;
        padding-left: 22px;
        text-transform: uppercase;
    }
    .callback-button {
        margin-left: 22px;

        
        animation-name: tada;
        animation-duration: 600ms;
        animation-delay: 2300ms;
        animation-fill-mode: backwards;
    }
}
