.reg {
  &__bg {
    min-height: 538px;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        0deg,
        rgba(17, 21, 23, 0.88),
        rgba(17, 21, 23, 0.88)
      ),
      url(../images/reg-bg/1.jpg);
    background-size: cover;
    background-position: right;

    @media screen and (min-width: 1280px) {
      height: 750px;
    }
  }

  &__title {
    width: 280px;
    text-align: center;
    padding-top: 52px;
    margin: 0 auto;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 550px;
    }

    @media screen and (min-width: 1280px) {
      width: 940px;
      padding-top: 82px;
    }
  }

  &__title1 {
    font-family: $ff-montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 800;
    color: $white-color;
    letter-spacing: 1.5px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 22px;
      line-height: 38px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 37.5px;
      line-height: 48px;
    }
  }

  &__text {
    font-family: $ff-montserrat;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    color: $white-color;
    margin: 0 auto;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 15px;
      width: 410px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 18px;
      width: 570px;
      line-height: 1.4;
    }
  }

  &__form {
    width: 280px;
    margin: 0 auto;
    color: $white-color;
    margin-top: 19px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 400px;
      margin-top: 35px;
    }

    @media screen and (min-width: 1280px) {
      width: 620px;
      margin-top: 50px;
    }
  }

  &__form-name,
  &__form-number {
    width: 100%;
    height: 50px;
    outline: none;
    font-family: $ff-montserrat;
    color: $white-color;
    font-size: 13px;
    line-height: 37px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px $white-color solid;

    @media screen and (min-width: 1280px) {
      height: 72px;
      font-size: 20px;
    }

    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:focus,
    &:focus {
      background-color: transparent;
    }

    &:focus:invalid,
    &:focus:invalid {
      border-color: rgb(255, 0, 0);
      background-color: transparent;
      color: $white-color;
    }

    &:focus:valid,
    &:focus:valid {
      border-color: rgb(0, 128, 0);
      background-color: transparent;
      color: $white-color;
    }
  }

  &__form-btn {
    width: 250px;
    height: 48px;
    color: $white-color;
    background-color: $hover-color;
    outline: none;
    cursor: pointer;
    border: transparent;
    display: block;
    margin: 55px auto;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Tahoma';
    transition:  $animation;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin: 30px auto;
    }

    @media screen and (min-width: 1280px) {
      width: 350px;
      height: 70px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $hover-color;

      background-color: transparent;
      border: 1px solid $hover-color;

      background-color: $white-color;
      border: none;
      box-shadow: $shadow;

      transition: $animation;
    }
  }

  &__contact {
    content: '';

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__contact-flex {
    content: '';

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: flex;
      margin-right: 131px;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      margin-right: 400px;
    }
  }

  &__phone {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-right: 56px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 56px;
    }
  }

  &__phone-svg {
    width: 25px;
    height: 25px;
    fill: $hover-color;
    margin: 42px 10px 0 0;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 30px;
      height: 30px;
      margin: 52px 10px 0 0;
    }

    @media screen and (min-width: 1280px) {
      width: 35px;
      height: 35px;
      margin: 52px 10px 0 0;
    }
  }

  &__phone-number {
    font-family: $ff-montserrat;
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    margin: 34px 0 0 0;
    text-decoration: none;
    color: $title-color;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-bottom: 50px;
      font-size: 20px;
      line-height: 38px;
      margin: 44px 0 0 0;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 50px;
      font-size: 28px;
      margin: 44px 0 0 0;
    }
  }

  .reg__phone-number--line{	  
    position: absolute;	    
    content: '';	  
    width: 1px;	    
    height:29px;	   
    background-color: #e0e0e0;;	   
   
    top: 5px;	    
    display: none;	

    @media screen and (min-width: 768px) and (max-width: 1279px) {	
      left: 232px;	
      display: block;	
    }	

    @media screen and (min-width: 1280px) {	
      left: 316px;	
      display: block;	
    }	
  }


  &__inst-icon {
    width: 37px;
    height: 37px;
    margin: 17px auto;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin: 42px auto;
    }

    @media screen and (min-width: 1280px) {
      margin: 42px auto;
    }
  }

  &__link-logo {
    text-decoration: none;
  }

  &__logo {
    color: #000000;
    font-family: $ff-montserrat;
    font-size: 15px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 0.75px;
    text-align: center;
    padding-bottom: 14px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 25px;
      padding-top: 35px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 25px;
      padding-top: 35px;
    }
  }

  &__logo-icon {
    width: 25px;
    height: 30px;
    fill: $hover-color;
    margin-bottom: -10px;

    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 40px;
    }
  }

  &__logo-text {
    font-size: 5px;
    font-weight: 700;
    line-height: 4;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 8px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 8px;
    }
  }
}

.span__color {
  color: $hover-color;
}
